<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/bug_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".SecondActivityLinear"></activity>
        <activity android:name=".Rel_Layout" />
        <activity android:name=".Image" />
        <activity android:name=".FrameLayout" />
        <activity android:name=".Li_Layout" />
        <activity android:name=".Boxes" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>